header {
  background-color: #673c4c;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 36px;
  color: white;
}

p{
  font-family: arial;
  font-size: 15px;
  line-height: 1.5;

}
  
.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.intro-text {
  width: 60%;
  text-align: center;
}

.intro-text h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.intro-text p {
  font-size: 18px;
  color: #333;
  text-align: center;
}

.image-area img {
  width: 250px;
  height: auto;
  border-radius: 20px;
}


nav {
  background-color: rgb(205, 158, 198);
  text-align: center;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 20px;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  color: #ffd700;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

img.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #7a2e4a;
  object-fit: cover;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

img {
  height: 100px;
  margin: auto;
  max-width: 100%;
}

table {
  width: 90%;
  font-family: Arial, sans-serif;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgb(219, 202, 213);  
  margin-bottom: 50px; 
}

th{
  border: 1px solid black;
  border-collapse: collapse;
  background-color:rgb(205, 158, 198);
  padding: 15px;   
}

td{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  color:black;
  text-align: center;
  box-sizing: border-box;
}

tr:hover{
  background-color:gold;
}

.family-section {
  padding: 20px;
  text-align: center;
}

.family-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.member-card {
  background-color: rgb(205, 158, 198);
  padding: 20px;
  border-radius: 20px;
  width: 250px;
}

.member-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.member-card h2 {
  font-size: 23px;
  color: whitesmoke;
}

.member-card p {
  font-size: 15px;
  color: whitesmoke;
  text-align: justify;
}

.contact-section {
  text-align: center;
}

.contact-section h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-container {
  gap: 20px;
  justify-content: center;
  padding: 10px;
}

.contact-form {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.contact-form input,.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
}

.contact-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0056b3;
}
